{% include "header.html" %}

<div class="container">

  <h1>Group 13 Project Part 3</h1>
  <hr>
  
  <p><a href="search" class="btn btn-info">Go to General Search</a></p>
  <p><a href="money_search" class="btn btn-success">Go to Money Related Searches</a></p>

  <hr>

  <h2>Test Data</h2>

  <form method="POST" action="/add">
  <p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
  </form>

  <!-- Implement Delete -->
  <form method="POST" action="/delete/test">
  <p>Name of computer scientist to delete: <input type="text" name="name"> <input type="submit" value="Delete"></p>
  </form>

  <h1>Some famous Computer Scientists</h1>
    <div>{{data}}</div>

    <div>
      {% for n in data %}
      <div>{{n}}</div>
      {% endfor %}
    </div>

</div>



