{% include "header.html" %}

<div class="container">

  <h1>Group 13 Project 1 Part 3</h1>
  <hr>

  <p>Daria Jung</p>
  <p>Sona Roy</p>

  <hr>

  <p>This application allows the user to use search criteria such as: politician name, state, industry, legislation, PAC name, SuperPAC name, amount of money given, etc. to get information about the specified topic. This lets the user draw conclusions about the politician’s voting record on legislation related to PACs which donated to their campaign.</p>

  <hr>
  
  <p><a href="search" class="btn btn-info">Go to General Search</a></p>
  <p><a href="/money_search" class="btn btn-success">Go to Money and Legislation Searches</a></p>

  <hr>

  <!-- <h2>Test Data</h2>

  <form method="POST" action="/add">
  <p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
  </form> -->

  <!-- Implement Delete -->
  <!-- <form method="POST" action="/delete/test">
  <p>Name of computer scientist to delete: <input type="text" name="name"> <input type="submit" value="Delete"></p>
  </form>

  <h1>Some famous Computer Scientists</h1>
    <div>{{data}}</div>

    <div>
      {% for n in data %}
      <div>{{n}}</div>
      {% endfor %}
    </div> -->

</div>



