{% include "header.html" %}

<div class="container">
  <h2>Money and Legislation Related Searches</h2>

  <hr>

  <form method="GET" action="/search_money_from_pacs">
  	<h4>Search for Organizations that Donated to Specified Politician:</h4>
    <select name ="query">

      {% for p in politicians %}
        <option value="{{ p.name }}">{{ p.name }}</option>
      {% endfor %}
    </select>
    <!-- <input type="text" name="query" required> --> <input type="submit" value="Search" class="btn btn-primary"></p>
  </form>

  <hr>

  <form method="GET" action="/search_legislation">
    <h4>Search for Legislation by Name:</h4>
    <select name="query">
      {% for p in legislation %}
        <option value="{{ p.name }}">{{ p.name }}</option>
      {% endfor %}
    </select>
    <!-- <input type="text" name="query" required>  --><input type="submit" value="Search" class="btn btn-primary"></p>
  </form>

  <hr>

  <form method="GET" action="/search_legislation_by_summary">
    <h4>Search for Legislation by Industry Advocated:</h4>
    <select name="query">
      {% for p in industries %}
        <option value="{{ p.summary }}">{{ p.summary }}</option>
      {% endfor %}
    </select>
    <!-- <input type="text" name="query" required>  --><input type="submit" value="Search" class="btn btn-primary"></p>
  </form>

  <hr>

  <form method="GET" action="/search_pac_by_summary">
    <h4>Search for PACs by Industry Interests:</h4>
    <select name="query">
      {% for p in industries %}
        <option value="{{ p.summary }}">{{ p.summary }}</option>
      {% endfor %}
    </select>
    <!-- <input type="text" name="query" required>  --><input type="submit" value="Search" class="btn btn-primary"></p>
  </form>

  <hr>

  <form method="GET" action="/search_voting_bill">
    <h4>Return how the given politician voted on bills that supported the specified industry: </h4>
      <p>Politician Name: 
        <select name ="query_p">

          {% for p in politicians %}
            <option value="{{ p.name }}">{{ p.name }}</option>
          {% endfor %}
        </select><!-- <input type="text" name="query_p" required> --> </p>


      <p>Industry Summary:
        <select name ="query_l">

          {% for p in industries %}
            <option value="{{ p.summary }}">{{ p.summary }}</option>
          {% endfor %}
        </select> 

       <!-- <input type="text" name="query_l" required> --> </p>
      <input type="submit" value="Search" class="btn btn-primary">
    
  </form>

  <hr>

  <form method="GET" action="/search_polit_spac_supports">
    <h4>Return the Super PACs that support the given politician: </h4>
      <p>Politician Name: 
        <select name ="query">
          {% for p in politicians %}
            <option value="{{ p.name }}">{{ p.name }}</option>
          {% endfor %}
        </select>
        <!-- <input type="text" name="query" required> --> 
      <input type="submit" value="Search" class="btn btn-primary"></p>
  </form>


  <hr>

    <form method="GET" action="/search_polit_spac_against">
    <h4>Return the Super PACs that are against the given politician: </h4>
      <p>Politician Name: 
          <select name ="query">
            {% for p in politicians %}
              <option value="{{ p.name }}">{{ p.name }}</option>
            {% endfor %}
          </select>
        <!-- <input type="text" name="query" required>  -->
      <input type="submit" value="Search" class="btn btn-primary"></p>
  </form>

  <hr>

  <a class="btn btn-info" href="/search">Back to General Search</a>

</div>