<h1>Search</h1>

<form method="GET" action="/search_politician">
	<p>Search by politician name: <input type="text" name="query"> <input type="submit" value="Search"></p>
</form>

<form method="GET" action="/search_state">
	<p>Search politicians by state name: <input type="text" name="query"> <input type="submit" value="Search"></p>
</form>

<form method="GET" action="/search_pac">
	<p>Search for PAC Info. by PAC name: <input type="text" name="query"> <input type="submit" value="Search"></p>
</form>

<form method="GET" action="/search_superpac">
	<p>Search by SuperPAC name: <input type="text" name="query"> <input type="submit" value="Search"></p>
</form>

<form method="GET" action="/search_money">
	<p>Return organizations by amount of money donated: <input type="text" name="query"> <input type="submit" value="Search"></p>
</form>


    <!-- <div>{{data}}</div>

    <div>
      {% for n in data %}
      <div>{{n}}</div>
      {% endfor %}
    </div> -->